@model Category

<div class="card" style="width: 20rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Name and Id : @Model.CategoryId</h5>
        <p class="card-text">Description : @Model.Description</p>
        <a href="~/Category/Index" class="btn btn-primary">Back all Categories</a>
    </div>
</div>